@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
}

header {
    background-color: #185964;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
}

    header input {
        outline: none;
        border: 3px solid black;
        border-radius: 5px;
        height: 25px;
        width: 200px;
        font-size: 20px;
    }

main {
    display: grid;
    overflow-y: scroll;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 4px solid #185964;
    border-radius: 5px;
    max-height: 670px;
}

    .card:hover {
        border: 4px solid black;
        box-shadow: rgba(0,0,0,4) 1px 1px none;
    }

    .card img {
        height: 400px;
    }
.invisible {
    display: none;
   
}
p {
    text-align: center;
}
